html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Отельные взгляды на слайдер

    link(rel="stylesheet", href="SCSS/reset.css")
    link(rel="stylesheet", href="/SCSS/style.scss")

    link(rel="stylesheet", href="/Items/slider.scss")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")
    script.
      mocha.setup('bdd');
    script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js")

    script(type="text/javascript" src='/Items/slider.js')
    script(type="text/javascript" src='/test.js')

    script.
      $(window).on("load", function () {

        $([s2, s4, l1, l2, l3, l8]).dmx_Slider("set_new_model", 10, 100, 30, 70, 10);//модель1
        $(s3).dmx_Slider("set_new_model", 100, 200, 100, 200).dmx_Slider("slider", true, "custom");//модель2 
        $([s5, s8, l4, l5]).dmx_Slider("set_new_model", 0, 100, 10);//модель3
        $([s6, s7, l6, l7]).dmx_Slider("set_new_model", 0, 100, null, 10);//модель4  

        $("#s1").dmx_Slider(true);
        $("#s2").dmx_Slider("slider", false);
        $("#s3, #s5, #s7").dmx_Slider("slider", true, "custom");
        $("#s4, #s6, #s8").dmx_Slider("slider", false, "custom");

        $("#l1").dmx_Slider("label");
        $("#l2").dmx_Slider("label", true);
        $("#l1, #l4, #l6").dmx_Slider("label", null);
        $("#l2").dmx_Slider("label", true);
        $([l3, l5, l7]).dmx_Slider("label", false);

        $("#l8").dmx_Slider("label", null, new Intl.NumberFormat('ru-RU', {style: 'currency', currency: "RUB"}));

        $("#s2").dmx_Slider("get_model").on("changed", function () {$("#t1").prop('checked', true)});

        $(m1_step).on('propertychange input', function () {
          $('#s8').dmx_Slider('get_model')[0].Step=this.value;
        })

        
      });

    style.
      .parameters {
        text-align: right;
      }
      .parameters input {
        margin: 5px;
      }

  body
    content
      mixin test(num, minimum = "null", maximum = "null", value1 = "null", value2 = "null", step = "null")
        script.
          $(window).on("load", function () {
            $("#slider!{num}, #slider!{num}_2, #label!{num}").dmx_Slider("set_new_model", !{minimum}, !{maximum}, !{value1}, !{value2}, !{step});
            $(slider!{num}).dmx_Slider("slider", true);//модель1 
            $(slider!{num}_2).dmx_Slider("slider", false, "custom");//модель1
            $(label!{num}).dmx_Slider("label", null, new Intl.NumberFormat('ru-RU', {style: 'currency', currency: "RUB"}));

            var changed = function () {
              model!{num}_minimum.value = this.Min;
              model!{num}_maximum.value = this.Max;
              model!{num}_step.value = this.Step;
              if(this.Value1 != null)
                model!{num}_value1.value = this.Value1;
              if(this.Value2 != null)
                model!{num}_value2.value = this.Value2;
            };

            $(slider!{num}).dmx_Slider("get_model").on("changed", changed);
            changed.apply($(slider!{num}).dmx_Slider("get_model")[0])
          });
        div(style="display: flex; border: solid gray 2px; border-radius: 10px; padding: 20px; margin: 20px")
          div(style="width: 20px; text-orientation: mixed; writing-mode: vertical-rl; text-align: center ") Модель № !{num}
          div(style="width: 20px")

          //Сам слайдер
          div(id="slider"+num style="height: 200px")

          div(style="width: 50px")
          div(style="display:flex; flex-direction: column; flex-grow:1")
            div(style="align-self: flex-start").parameters
              p
                label(for='model'+num+'_minimum') Минимум 
                  input(id='model'+num+'_minimum' onkeyup="$(slider"+num+").dmx_Slider('get_model')[0].Min = this.value")
              p
                label(for="model"+num+"_maximum") Максимум
                  input(id="model"+num+"_maximum" onkeyup="$(slider"+num+").dmx_Slider('get_model')[0].Max = this.value")
              p
                label(for="model"+num+"_step") Шаг
                  input(id="model"+num+"_step" onkeyup="$(slider"+num+").dmx_Slider('get_model')[0].Step = this.value")
              p
                label(for="model"+num+"_value1") Значение1
                  input(id="model"+num+"_value1" onkeyup="$(slider"+num+").dmx_Slider('get_model')[0].Value1 = this.value")
              p
                label(for="model"+num+"_value2") Значение2
                  input(id="model"+num+"_value2" onkeyup="$(slider"+num+").dmx_Slider('get_model')[0].Value2 = this.value")
            div(id="slider"+num+"_2")
            div(id="label"+num)
      +test(1, 0, 100, 20, 80)
      +test(2, 100, 1000, "null", 80)
      +test(3, -100, 100, 20, "null")
      div(style="display: flex")
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s1
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s3
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s5
        div(style="height: 100px; padding-left: 50px; padding-right: 50px")#s7
      div
        div#s2
        div#s4
        div#s6
        div#s8
      div
        div#l1
        div#l2
        div#l3
        div#l4
        div#l5
        div#l6
        div#l7
        div#l8
      div
        input#t1(type="checkbox")
        label(for="t1") Изменение модели №1

      input#m1_step(onchange="$('#s8').dmx_Slider('get_model')[0].Step=this.value")

      div#mocha
      script mocha.run()